/* =================
  common css
=================== */
a{
text-decoration: none;
}
ul,ol{
    list-style: none;
}

.button{
background: #E5745D;
padding: 21px 39px;
text-align: center;
color: #FFFFFF;
font-family: "Jost", sans-serif;
font-size: 18px;
font-weight: 500;
position: relative;
width: 198px;
height: 64px;
border: .5px solid white;
}
.button::after{
position: absolute;
top: 4px;
left: 4px;
width: 188px;
height: 54px;
border: 1px solid #FFFFFF;
content: "";
}
/* =================
  common css
=================== */
/* =================
  navbar start
=================== */
nav{
background:#F9F4F1;
}
.navbar{
padding-top: 23px;
padding-bottom: 23px;
}
.navbar-nav{
column-gap: 50px;
font-family: "Jost", sans-serif;
font-size: 18px;
font-weight: 400;
color: #00413D;
}
.nav-link{
padding-left: 0px !important;
padding-right: 0px !important;
font-family: "Jost", sans-serif;
font-size: 18px;
font-weight: 400;
color: #00413D;
transition: .4s;
}
.nav-link:hover{
color: #E5745D;
}

/* ==============================
       navbar end
================================= */

/* ==============================
       banner start
================================ */
.banner{
background: #00413D;
width: 100%;
padding: 221px 0;
position: relative;
overflow: hidden;
z-index: 1;
}
.banner .overlay{
background-image: url(../images/sovon1.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: absolute;
top: 0;
right: 0;
width: 0;
height: 100%;
transition: .5s;
z-index: -1;
}
.banner:hover .overlay{
width: 45%;
}
.commonbtn{
font-family: "Jost", sans-serif;
font-size: 18px;
font-weight: 500;
color:#FFFFFF;
text-align: center;
background:#E5745D;

padding: 20px 44px;
position: relative;
border: .5px solid #FFFFFF;
display: inline-block;
margin-top: 50px;
}
.commonbtn::after{
position: absolute;
top: 6px;
left: 4px;
width: 169px;
height: 54px;
content: "";
border: 1px solid #FFFFFF;
}
.banner h1{
font-family: "Vollkorn", serif;
font-size: 100px;
font-weight: 700;
color:#FFFFFF;
width: 834px;
}
.banner h1 span{
    display: inline-block;
}
.banner p{
font-family: "Jost", sans-serif;
font-size: 20px;
font-weight: 400;
color:#FFFFFF80;
width: 670px;
height: 60px;

}
.banner p span{
font-family: "Jost", sans-serif;
font-size: 20px;
font-weight: 400;
color:#FFFFFF;
}
/* ==============================
       banner end
================================ */

/* ==============================
       service start
================================ */
.title{
  padding-top: 220px;
  text-align: center;
}
.title h4{
font-family: "Vollkorn", serif;
font-size: 18px;
font-weight: 500;
color: #E5745D;
position: relative;
}
.title h4::after {
position: absolute;
top: 7px;
left: 535px;
width: 40px;
height: 2px;
content: "";
background: red;
}
.title h4::before {
position: absolute;
top:5px;
left: 573px;
width: 6px;
height: 6px;
content: "";
background: red;
border-radius: 50%;
}
.title h2{
font-family: "Vollkorn", serif;
font-size: 50px;
font-weight: 500;
color: #00413D;
width: 511px;
margin: 0 auto;
padding-top: 11px;
padding-bottom: 40px;
}
.service .card{
width: 100% !important;
padding: 50px 35px;
border: 0;
box-shadow: -4px -3px 16px -3px rgba(0,0,0,0.62);
-webkit-box-shadow: -4px -3px 16px -3px rgba(0,0,0,0.62);
-moz-box-shadow: -4px -3px 16px -3px rgba(0,0,0,0.62);
}

.service .card img{
  width: 68px;
}
.service .card .card-body{
  padding: 0;
}
.service .card .card-title{
font-family: "Vollkorn", serif;
font-size: 24px;
font-weight: 800;
color: #00413D;
padding-top: 26px;
padding-bottom: 15px;
}
.service .card .card-text{
font-family: "Jost", sans-serif;
font-size: 16px;
font-weight: 400;
color: #00413D;
width: 245px;
}
.service .card i{
color: #00413D;
width: 27.726524353027344px;
padding-top: 30px;
transition: .5s;
}
.service .card:hover i{
  color: #E5745D;
}
/* ==============================
       service end
================================ */

/* ==============================
       about part start
================================ */
.about{
  padding-top: 120px;
  padding-bottom: 80px;

}
.about .row{
    align-items: center ;
}
.about .first_img{
  width: 60%;
}
.about .about_2{
  width: 100%;
}
.title2 h4{
font-family: "Vollkorn", serif;
font-size: 18px;
font-weight: 500;
color: #E5745D;
position: relative;
margin-left: 50px;
}
.title2 h4::after {
position: absolute;
top: 8px;
left: -45px;
width: 40px;
height: 2px;
content: "";
background: red;
}
.title2 h4::before {
position: absolute;
top:6px;
left: -10px;
width: 6px;
height: 6px;
content: "";
background: red;
border-radius: 50%;
}
.title2 h2{
font-family: "Vollkorn", serif;
font-size: 50px;
font-weight: 500;
color: #00413D;
width: auto;
margin: 0 auto;
padding-top: 11px;

}
.about p{
font-family: "Jost", sans-serif;
font-size: 16px;
font-weight: 400;
color: #00413D;
width: 570px;
padding-bottom: 40px;
}
.about .button2{
background: #E5745D;
padding: 21px 39px;
text-align: center;
color: #FFFFFF;
font-family: "Jost", sans-serif;
font-size: 18px;
font-weight: 500;
position: relative;
width: 198px;
height: 64px;
border: .5px solid white;
}
.button2::after {
position: absolute;
top: 5px;
left: 4px;
width: 179px;
height: 58px;
border: 1px solid #FFFFFF;
content: "";
}
/* ==============================
      about part end
================================ */